<!DOCTYPE html>
<html>
  <head>
    <title>BluitRails</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container wrap">
      <div class="row">
        <div class="col-xs-12">
          <header>
            <%= link_to "Bluit", root_path %>
          </header>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-xs-8">
            <main>
              <!-- Begin main content -->
              <%= yield %>
            </main>
          </div>
          <div class="col-xs-4">
            <nav id="sidebar">
              <%= link_to "Submit a new link", new_post_path %>
            </nav>
          </div>
        </div>
      </div>
      <div class="push"></div>
    </div>

    <footer>
      &copy; Super Original Productions, INC.
    </footer>
  </body>
</html>
