<!DOCTYPE html>
<html>
  <head>
    <title>BluitRails</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container wrap">
      <div class="row">
        <div class="col-xs-12">
          <header>
            <div class="well">
              <%= link_to "Bluit", root_path %>
            </div>
          </header>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-xs-8">
            <main>
              <div class="well">
                <!-- Begin main content -->
                <%= yield %>
              </div>
            </main>
          </div>
          <div class="col-xs-4">
            <nav id="sidebar">
              <div class="well">
                <%= link_to "Submit a new link", new_post_path %>
              </div>
            </nav>
          </div>
        </div>
      </div>
      <div class="push"></div>
    </div>

    <footer>
      <div class="well">
        &copy; Super Original Productions, INC.
      </div>
    </footer>
  </body>
</html>
